@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f3f6;
}
/* Hide horizontal scrollbar */
/* Hide scrollbar for category bar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
* {
  scroll-behavior: smooth;
}

